{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}

    <h4 class="display-4">{% trans 'WIL Registration Instractions' %}</h4>

    <p class="lead">1) Make sure you have your proof of imployement documents ready</p>
    <p class="lead">2) Create a new account</p>
    <p class="lead">3) Go to the registration page</p>
    <p class="lead">4) Enter your student number and select your department</p>
    <p class="lead">5) And then press register</p>


{% endblock %}
