{% extends "base.html" %}

{% block content %}
    
    {% load static %}
    <link rel="stylesheet" href=" {% static 'css/main.css' %} ">
    <div class="container mt-4">
        <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light">
              <tr>
                <th>Name</th>
                <th>Title</th>
                <th>Contacts</th>
                <th>Office</th>
                <th>Message</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="d-flex align-items-center">
                    <img
                        src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                        alt=""
                        style="width: 45px; height: 45px"
                        class="rounded-circle"
                        />
                    <div class="ms-3">
                      <p class="fw-bold mb-1 ml-1">John Doe</p>
                    </div>
                  </div>
                </td>
                <td>
                  <p class="fw-normal mb-1">WIL Coordinator</p>
                  <p class="text-muted mb-0">Computer Science department</p>
                </td>
                <td>
                    <p class="mb-0"><span class="fw-bold">Tel: </span> <span class="text-muted ">+27 12 382 9261</span></p>
                    <p class="mb-0"><span class="fw-bold">Email: </span> <span class="text-muted ">SeoketsaLM@tut.ac.za</span></p>
                </td>
                <td>Building 20, 2nd Floor Office 205</td>
                <td>
                  <button type="button" class="btn btn-link btn-rounded">
                    Message
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>


{% endblock  %}