{% extends "base.html" %}

{% block content %}

<div class="container px-4 px-lg-5 mt-4 bg-white h-100">
    <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-8 align-self-end">
            <h1 class="text-black mt-2 font-weight-bold">How To Regrister Your WIL Module</h1>
            <hr class="divider" />
        </div>
        <div class="col-lg-8 align-self-baseline">
            <p class="text-white-75">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</p>
            <p class="text-white-75">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</p>
            <p class="text-white-75">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</p>
            <p class="text-white-75">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</p>
            <p class="text-white-75">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</p>
            <a class="btn mb-4 btn-danger btn-xl" href="{% url 'register' %} ">Register</a>
        </div>
    </div>
</div>

{% endblock %}